/* Navbar styles */
.navbar-custom {
    background-color: #327AD9;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #dce6fa; 
}

.container {
    margin-top: 20px;
}
