{% load static %}

<div class="grid-container">
    <img src="{% static 'Assets/este.jpg' %}" class="background-image" alt="Background">

    {% for room, desks in rooms.items %}
    <div class="room-wrapper" id="room-{{ room }}">
        <h3>Room {{ room }}</h3>
        <div class="room-block">
            {% for entry in desks %}

                {% if entry.is_broken %}
                    <button class="btn btn{{ forloop.counter }} broken"
                            data-desk-id=""
                            data-desk-number="{{ entry.number }}"
                            disabled>
                        {{ entry.number }}
                    </button>

                {% elif entry.desk %}
                    <button class="btn btn{{ forloop.counter }} normal"
                            data-desk-id="{{ entry.desk.mac_address }}"
                            data-desk-number="{{ entry.number }}">
                        {{ entry.number }}
                    </button>

                {% elif entry.desk %}
                    <button class="btn btn{{ forloop.counter }} normal
                        {% if entry.is_booked %} booked{% endif %}"
                        data-desk-id="{{ entry.desk.mac_address }}"
                        data-desk-number="{{ entry.number }}">
                        {{ entry.number }}
                    </button>

                {% else %}
                    <button class="btn btn{{ forloop.counter }} empty"
                            data-desk-id=""
                            data-desk-number="{{ entry.number }}">
                        {{ entry.number }}
                    </button>
                {% endif %}

            {% endfor %}

        </div>
    </div>
    {% endfor %}
</div>
