{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="main">
    <h1>Welcome Back 👋</h1>
    <form method="POST">
      {% csrf_token %}
      {% comment %} {{ form.non_field_errors }} {% endcomment %}
        {{ form.username }}

        {{ form.password }}

      <div class="wrap">            
          <button type="submit">Log In</button>
      </div>
    </form>
    <p>Don’t have an account? <a href="{% url 'register' %}">Sign up here</a></p>
  </div>
</div>
{% endblock %}
